<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    
    <link rel="stylesheet" href="prototype/static/style.css" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Historic data</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/heroic-features.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css"
    rel="stylesheet" type="text/css">
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.css"
    rel="stylesheet" type="text/css">

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>
    {{script|safe}}
    
    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <style>
      .container2{
        padding-top: 20px;
        padding-bottom: 130px;
        padding-right:15px;
        padding-left:15px;
        margin-right:auto;
        margin-left:auto
      }
      
      .card{
        border-color: white;
      }
      
      .explanation{
        color: gray;
        font-size: 120%;
        padding-right:30px;
        padding-left:30px;
        padding-bottom: 10px;
      }
      
    </style>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Smokey analytics</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container2">
      <center>
      <p class="explanation">This interactive graph grants you access to the data that was used to model the machine learning algorithm. This information can be used to develop better plans to prevent fires. The missing values have been deleted for this visualization and therefore, some graphs might be empty.</p>
      <form action="/historic">
        County: 
        <select name="selected_county">
	        {% for county in county_names %}
		        {% if county == selected_county %}
			        <option selected value="{{ county }}">{{ county }}</option> 
		        {% else %} 
			        <option value="{{ county }}">{{ county }}</option> 
		        {% endif %}
	        {% endfor %}
        </select>
        X axis:
        <select name="selected_x">
	        {% for xc in axis_options %}
		        {% if xc == selected_x %}
			        <option selected value="{{ xc }}">{{ xc }}</option> 
		        {% else %} 
			        <option value="{{ xc }}">{{ xc }}</option> 
		        {% endif %}
	        {% endfor %}
        </select>
        Y axis:
        <select name="selected_y">
	        {% for yc in axis_options %}
		        {% if yc == selected_y %}
			        <option selected value="{{ yc }}">{{ yc }}</option> 
		        {% else %} 
			        <option value="{{ yc }}">{{ yc }}</option> 
		        {% endif %}
	        {% endfor %}
        </select>
        <input type="submit">
      </form>
      {{ div|safe }}
      </center>
    </div>
    <!-- /.container -->
    
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Developed by Jaime Domínguez</p>
      </div>
      <!-- /.container -->
    </footer>

  </body>

</html>